lab/Ingerir dados de vendas.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings",
              "skipLineCount": 0
            },
            "storeSettings": {
              "type": "HttpReadSettings",
              "requestMethod": "GET"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "HttpServerLocation"
                },
                "columnDelimiter": ",",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "externalReferences": {
                "connection": "b92d1746-5b6e-4d56-963f-79fe6b1137f4"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".txt"
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "new_data",
                  "fileName": " sales3.csv"
                },
                "columnDelimiter": ",",
                "rowDelimiter": "\n",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "atividade1",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "d179e73e-a0c0-918b-4267-96c5519e0c3d",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy_01m",
        "dependsOn": [
          {
            "activity": "Delete data1",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@pipeline().parameters.file_array",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "DelimitedTextSource",
                  "formatSettings": {
                    "type": "DelimitedTextReadSettings"
                  },
                  "storeSettings": {
                    "type": "LakehouseReadSettings",
                    "recursive": true,
                    "enablePartitionDiscovery": false
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": "new_data",
                        "fileName": {
                          "value": "@item().src_file",
                          "type": "Expression"
                        }
                      },
                      "columnDelimiter": ",",
                      "rowDelimiter": "\n",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "atividade1",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "519e0c3d-96c5-4267-918b-a0c0d179e73e",
                          "workspaceId": "cfa78f6c-587c-4b90-8604-31ae9450a998",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "LakehouseTableSink",
                  "tableActionOption": "OverwriteSchema",
                  "partitionOption": "None",
                  "datasetSettings": {
                    "type": "LakehouseTable",
                    "typeProperties": {
                      "table": {
                        "value": "@item().dst_table",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "atividade1",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "519e0c3d-96c5-4267-918b-a0c0d179e73e",
                          "workspaceId": "cfa78f6c-587c-4b90-8604-31ae9450a998",
                          "rootFolder": "Tables"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "mappings": [
                    {
                      "source": {
                        "name": "SalesOrderNumber",
                        "type": "String",
                        "physicalType": "String"
                      },
                      "sink": {
                        "name": "SalesOrderNumber",
                        "physicalType": "string"
                      }
                    },
                    {
                      "source": {
                        "name": "SalesOrderLineNumber",
                        "type": "String",
                        "physicalType": "String"
                      },
                      "sink": {
                        "name": "SalesOrderLineNumber",
                        "physicalType": "string"
                      }
                    },
                    {
                      "source": {
                        "name": "OrderDate",
                        "type": "String",
                        "physicalType": "String"
                      },
                      "sink": {
                        "name": "OrderDate",
                        "physicalType": "string"
                      }
                    },
                    {
                      "source": {
                        "name": "CustomerName",
                        "type": "String",
                        "physicalType": "String"
                      },
                      "sink": {
                        "name": "CustomerName",
                        "physicalType": "string"
                      }
                    },
                    {
                      "source": {
                        "name": "EmailAddress",
                        "type": "String",
                        "physicalType": "String"
                      },
                      "sink": {
                        "name": "EmailAddress",
                        "physicalType": "string"
                      }
                    },
                    {
                      "source": {
                        "name": "Item",
                        "type": "String",
                        "physicalType": "String"
                      },
                      "sink": {
                        "name": "Item",
                        "physicalType": "string"
                      }
                    },
                    {
                      "source": {
                        "name": "Quantity",
                        "type": "String",
                        "physicalType": "String"
                      },
                      "sink": {
                        "name": "Quantity",
                        "physicalType": "string"
                      }
                    },
                    {
                      "source": {
                        "name": "UnitPrice",
                        "type": "String",
                        "physicalType": "String"
                      },
                      "sink": {
                        "name": "UnitPrice",
                        "physicalType": "string"
                      }
                    },
                    {
                      "source": {
                        "name": "TaxAmount",
                        "type": "String",
                        "physicalType": "String"
                      },
                      "sink": {
                        "name": "TaxAmount",
                        "physicalType": "string"
                      }
                    }
                  ],
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy data1",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach_File_Array",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": []
      },
      {
        "type": "Delete",
        "typeProperties": {
          "enableLogging": false,
          "datasetSettings": {
            "type": "Binary",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "new_data",
                "fileName": "sales.csv"
              }
            },
            "linkedService": {
              "name": "atividade1",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "d179e73e-a0c0-918b-4267-96c5519e0c3d",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "storeSettings": {
            "type": "LakehouseReadSettings",
            "recursive": true,
            "enablePartitionDiscovery": false
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Delete data1",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "6ec41af0-c40f-41ec-8b01-fcbf40fd8a4c",
          "workspaceId": "cfa78f6c-587c-4b90-8604-31ae9450a998",
          "parameters": {
            "undefined": {
              "value": ""
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "atividade1",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Copy_01m",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "file_array": {
        "type": "array",
        "defaultValue": [
          {
            "src_file": "sales.csv",
            "dst_table": "sales_1"
          },
          {
            "src_file": "sales2.csv",
            "dst_table": "sales_2"
          },
          {
            "src_file": "sales3.csv",
            "dst_table": "sales_3"
          }
        ]
      },
      "table_name": {
        "type": "string",
        "defaultValue": "new_sales"
      }
    }
  }
}